a
{
	color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
header {
  width: 100%;
}

ul {
  list-style: none;
}


#Gmail
{
	position:right;
}

google #Logo-de-Google 
{
  text-align: center;
  display: block;
  margin: 0 auto;
  clear: both;
  padding-top: 112px;
  padding-bottom: 20px;
}

#nav_bar 
{
  position: absolute;
  top: 0;
  right: 0;
}

#buttons 
{
  text-align: center;
  padding-top: 30px;
  margin-bottom: 300px;
 }

#France 
{
  text-align: left;
}

#footer-left
{
	position: left;
}

#footer-right
{
	position: right;
}
